body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #f3f3f3;
    flex-direction: column;
    margin: 0;
}

.main {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

h1 {
    color: #1e7512;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #14540b;
    width: 20%;
    font-size: 16px;
}
button:hover {
    background-color: #1e7512;
    box-shadow: 0px 3px 3px 0px #b5b7b4;
    cursor: pointer;
}

button:active {
    background-color: #14540b;
    box-shadow: 0px 0px 0px #b5b7b4;
    top: 2px; /* Simulate pressing down */
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
form .icons {
    position: absolute;
}

form .icons i {
    position: relative;
    left: 470px;
    top: 35px;
    cursor: pointer;
    color: #4f4d4d;
}
